/*css reset*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/*main_styles*/
	body {
		text-align: center;
		font-size: 15px;
		font-family: Open sans, times new roman;
	}

	body>div {
		padding: 50px 0;
	}

	.zagol {
		font-weight: 600;
		font-size: 24px;
		color: #000;
		text-transform: uppercase;
		position: relative;
	}

	.zagol:after {
		content: '';
		width: 30px;
		height: 2px;
		position: absolute;
		background: #fb9322;
		top: 50px;
		left: 50%;
		margin-left: -15px;
	}

/*header*/
	.header {
		background: url('../img/bg_header.jpg') no-repeat;
		background-size: cover;
		padding: 50px 0;
		background-position: 50% 70%;
	}

	.navbar {
		background: rgba(0,0,0,0);
		border: none;
		margin: 0;
	}

	.lg_up {
		text-transform: uppercase;
		font-size: 22px;
		font-weight: 600;
	}

	.navbar-default .navbar-brand {
		font-size: 22px;
		color: #fff;
		font-weight: 200;
		line-height: 25px;
		padding: 0;
		text-align: left;
	}

	.navbar-default .navbar-brand:hover {
		color: #fff;
	}

	.navbar-default .navbar-brand:focus {
		color: #fa6422;
	}

	.navbar-nav {
		float: right;
	}

	.navbar-default .navbar-nav>li {
		padding: 10px 0;
	}

	.navbar-default .navbar-nav>li {
		margin-right: 40px;
	}

	.navbar-default .navbar-nav>li>a {
		color: #fff;
		font-size: 18px;
		padding: 0;
		text-transform: uppercase;
		font-weight: 400;
	}

	.navbar-default .navbar-nav>li>a:hover {
		color: #fb9322;
	}

	.navbar-default .navbar-nav>li>a:focus {
		color: #fa6422;
	}

	.download {
		text-align: center;
		margin-top: 300px;
	}

	.download p {
		font-size: 16px;
		color: #fff;
		font-weight: 200;
	}

	.download button {
		background: rgba(0,0,0,0);
		border: 2px solid #fb9322;
		outline: none;
		padding: 10px 0;
		border-radius: 5px;
		margin-top: 20px;
	}

	a[download] {
		padding: 10px 25px;
		font-size: 18px;
		text-transform: uppercase;
		color: #fb9322;
		text-decoration: none;
	}

	.download button:hover {
		background: #fb9322;
		border: 2px solid rgba(0,0,0,0);
	}

	.download button:hover a[download] {
		color: #fff;
	}

/*about*/
	.my_ph {
		max-width: 130px;
		margin-top: 60px;
	}

	.my_text {
		margin-top: 20px;
		line-height: 18px;
		color: #000;
		font-style: italic;
	}

	.my_text span {
		font-weight: 600;
	}

	.shadow {
		box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);
		min-height: 391px;
		padding: 15px 15px;
	}

	.about_me {
		margin-top: 50px;
	}

	.education, .career, .information {
		height: 100%;
	}

	.education .shadow:hover {
		box-shadow: 0 0 10px 7px rgba(0,0,0,0.2);
	}

	.career .shadow:hover {
		box-shadow: 0 0 10px 7px rgba(0,0,0,0.2);
	}

	.information .shadow:hover {
		box-shadow: 0 0 10px 7px rgba(0,0,0,0.2);
	}

	.about_me h4 {
		font-size: 16px;
		font-weight: 600;
		color: #000;
		text-transform: uppercase;
		position: relative;
	}

	.about_me h4:after {
		content: '';
		position: absolute;
		width: 30px;
		height: 2px;
		background: #fb9322;
		top: 30px;
		left: 50%;
		margin-left: -15px;
	}

	.about_me ul {
		text-align: left;
		margin-top: 30px;
	}

	.about_me ul>li {
		margin-top: 15px;
		line-height: 17px;
		color: #3a3c3b;
	}

	.about_me span {
		font-weight: 600;
	}

/*skills*/
	.skills {
		background: #e3e3e3;
	}

	.skill_list {
		text-align: left;
		margin-top: 50px;
	}

	.skill_list h3{
		font-size: 16px;
		font-weight: 600;
		color: #000;
	}

	.skill_list p {
		margin-top: 5px;
		font-style: italic;
		color: #3a3c3b;
		line-height: 18px;
	}

	.skill:nth-child(n+2) {
		margin-top: 20px;
	}

/*portfolio*/
	
	.objects {
		margin-top: 50px;
		line-height: 1.5;
	}

	.portfolio .shadow {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 20px;
	}

	.objects>div .shadow:hover {
		box-shadow: 0 0 10px 7px rgba(0,0,0,0.2);
	}

	.object_photo>img {
		height: 100%;
		width: 100%;
	}

	.object_description {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.object_description ul {
		text-align: left;
	}

	.object_description li {
		margin-top: 20px;
	}

	.object_description span {
		font-weight: bold;
	}

	.object_btn {
		background: rgba(0,0,0,0);
		border: 2px solid #fb9322;
		padding: 7px 0;
		border-radius: 5px;
		margin-top: 20px;
		outline: none;
	}

	.object_btn>a {
		padding: 8px 25px;
		font-size: 15px;
		text-transform: uppercase;
		color: #fb9322;
		text-decoration: none;
	}

	.object_btn:hover {
		background: #fb9322;
		border: 2px solid rgba(0,0,0,0);
	}

	.object_btn:hover a {
		color: #fff;
	}

	.nrg_murkup, .control_murkup, .skydreams_design, .dancefest_design {
		margin-top: 50px;
	}

/*footer*/
	.footer {
		background: radial-gradient(#203473, #19244a);
	}

	.footer .zagol {
		color: #e3e3e3;
		font-size: 18px;
	}

	.zagol:after {
		top: 40px;
	}

	.soc {
		margin-top: 50px;
	}

	.soc li {
		display: inline-block;
	}

	.soc li:nth-child(n+2) {
		margin-left: 15px;
	}

	.soc>li>a {
		display: block;
		width: 47px;
		height: 47px;
		background: url('../img/sprite.png') no-repeat;
		background-position: 0 -47px;
	}

	.soc>li>a:hover {
		background-position: 0 0;
	}

	.soc>li+li>a {
		background-position: -47px -47px;
	}

	.soc>li+li>a:hover {
		background-position: -47px 0;
	}

	.soc>li+li+li>a {
		background-position: -94px -47px;
	}

	.soc>li+li+li>a:hover {
		background-position: -94px 0;
	}

	.email {
		color: #9ca2a9;
		font-size: 14px;
		margin-top: 10px;
	}

	.number {
		color: #9ca2a9;
		font-size: 14px;
		margin-top: 10px;
	}

	.glyphicon {
		margin-right: 5px;
	}


/*media queries*/

	@media screen and (max-width: 1200px) {
		/*about*/
			.about .shadow {
				min-height: 459px;
			}	
	}

	@media screen and (max-width: 992px) {
		/*header*/
			.navbar-default .navbar-nav>li {
				margin-right: 20px;
			}

			.navbar-default .navbar-nav>li>a {
				font-size: 16px;
			}

			.navbar-default .navbar-brand {
				font-size: 20px;
			}

			.lg_up {
				font-size: 20px;
			}

			.about .shadow {
				min-height: 595px;
			}
	}

	@media screen and (max-width: 768px) {
		/*about*/
			.about .shadow {
				min-height: auto;
				margin-top: 30px;
			}

			.shadow ul {
				padding: 0 5%;
			}
		/*skills*/
			.skill:nth-child(n+2) {
				margin-top: 20px;
			}

		/*portfolio*/
			.adminka {
				margin-top: 50px;
			}
	}

	@media screen and (max-width: 390px) {

	}