body {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #000;
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
}

.player {
    border-radius: 50px;
    background:rgba(255, 255, 255, 0.7);
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.vinyl {
    margin-top: 30px;
    height: 200px;
}

.vinyl-animation {
    width: 200px;
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

.player-nav {
    margin-top: 30px;
}

.player-nav img {
    cursor: pointer;
}

.previous, .stop, .play, .next, .pause {
    height: 50px;
}

.pause {
    display: none;
}

img {
    height: 100%;
}

@media (max-width: 576px) {
    
}