body {
    /* font-family: 'Karma', serif; */
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 17px;
    font-weight: normal;
}

body > section, header, footer {
    padding: 50px 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.white-section {
    background: #E4E3E3;
    text-align: center;
    position: relative;
}

.white-section:before {
    position: absolute;
    content: '';
    top: 60px;
    left: 0;
    width: 100%;
    height: 12px;
    background: #F0C419;
    z-index: 1;
}

h3 {
    margin: 0 auto;
    position: relative;
    font-weight: bold;
    width: 40%;
    font-size: 27px;
    line-height: 150%;
    color: #000;
    z-index: 300;
    background: #E4E3E3;
}

p {
    margin: 0;
}

/* header */

header {
    background: url(../img/header-bg.jpg) no-repeat center;
    background-size: cover;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-separator {
    display: none;
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background: #FE1212;
}

.menu {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.burger-menu {
    display: none;
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    right: 0;
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.burger-menu span {
    background: #fff;
    height: 5px;
    position: absolute;
    margin-top: -2.5px;
    top: 50%;
    left: 0;
    width: 100%;
    transition-duration: 0.3s, 0.3s;
}

.burger-menu span:before, .burger-menu span:after {
    content: '';
    background: #fff;
    height: 5px;
    position: absolute;
    left: 0;
    width: 100%;
    transition-duration: 0.3s, 0.3s;
}

.burger-menu span:before {
    top: -12px;
}

.burger-menu span:after {
    top: 12px;
}

.burger-is-active span {
    background: none;
}

.burger-is-active span:before {
    top: 0;
    transform: rotate(-135deg);
    background: #FE1212;
}

.burger-is-active span:after {
    top: 0;
    transform: rotate(135deg);
    background: #FE1212;
}

.menu a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.menu a:hover {
    color: #FE1212;
}

.menu li {
    margin-right: 30px;
}

.phone {
    font-weight: 500;
    color: FE1212;
}

.action-call {
    background: #FE1212;
    border-radius: 5px;
    padding: 15px 24px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.action-call:hover {
    color: #FE1212;
    background: #fff;
}

.header__content {
    display: flex;
    align-items: center;
    margin-top: 85px;
}

.header__title {
    margin-right: 297px;
}

.header__title-mobile {
    display: none;
}

.header__title h1 {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 150%;
}

.header__title h2 {
    margin-top: 27px;
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
}

.header__feedback-form {
    border: 7px solid #fff;
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
    width: 350px;
}

.header__feedback-form p {
    font-weight: bold;
    font-size: 21px;
    line-height: 150%;
    margin: 0;
}

.header__feedback-form form {
    margin-top: 30px; 
}

.client-phone, .form-btn {
    margin-top: 22px;
}

.header__feedback-form input {
    padding: 22px;
    background: #eee;
    border-radius: 5px;
    border: none;
    outline: none;
}

.header__feedback-form input::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
}

.form-btn {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    
    background: #FE1212;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.form-btn:hover {
    background: #fff;
    color: #FE1212;
    cursor: pointer;
}

/* advantages-with-us */

    .white-section__cards {
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
    }

    .white-section__card {
        max-width: 200px;
    }

    .icon-wrap {
        height: 200px;
    }

    .prestige-icon {
        background: url(../img/prestige.png) no-repeat center;
        background-size: contain;
    }

    .quality-icon {
        background: url(../img/quality.png) no-repeat center;
        background-size: contain;
    }

    .experience-icon {
        background: url(../img/experience.png) no-repeat center;
        background-size: contain;
    }

    .white-section__zagol {
        color: #000;
        margin-top: 60px;
        font-size: 20px;
        font-weight: bold;
    }

    .white-section__txt {
        color: #000;
        font-weight: 300;
        line-height: 150%;
        font-size: 16px;
        margin-top: 25px;
    }

/* media queries */

@media screen and (max-width: 1400px) {
    /* header */
    
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 1300px) {
    /* header */
    
    .header__title {
        margin-right: 200px;
    }
}

@media screen and (max-width: 1200px) {
    /* global */

    h3 {
        width: 45%;
    }

    /* header */
    
    .menu li {
        margin-right: 20px;
    }

    .header__title {
        margin-right: 50px;
    }
}

@media screen and (max-width: 1000px) {
    /* global */

    h3 {
        width: 53%;
    }

    /* header */
    
    .phone {
        display: none;
    }

    .menu a {
        letter-spacing: normal;
    }

    .container {
        width: 95%;
    }

    .header__title h1 {
        font-size: 35px;
    }
}

@media screen and (max-width: 768px) {
    /* global */

    h3 {
        width: 40%;
    }

    /* header */
    
    header {
        padding-top: 20px;
    }

    .nav {
        display: block;
    }
    
    .menu {
        display: none;
        width: 100%;
        text-align: center;
    }

    .menu li {
        margin-right: 0;
        margin-top: 20px;
        text-transform: uppercase;
        font-size: 18px;
    }

    .burger-menu {
        display: block;
    }

    .container {
        width: 90%;
    }

    .header__content {
        display: block;
        text-align: center;
        margin-top: 50px;
    }
    
    .header__title {
        margin: 0 auto;
    }

    .header__title h1 {
        font-size: 26px;
        margin-bottom: 0;
    }

    .header__title h2 {
        font-size: 22px;
        margin-bottom: 0;
        margin-top: 18px;
    }

    .header__title-desktop {
        display: none;
    }

    .header__title-mobile {
        display: block;
    }

    .header__feedback-form {
        width: 100%;
        margin-top: 50px;
    }

    .header__feedback-form form {
        display: flex;
        flex-direction: column;
    }

    /* advantages */

    .icon-wrap {
        height: 150px;
    }

    .white-section:before {
        top: 75px;
    }

    
}

@media screen and (max-width: 670px) {
    /* global */

    h3 {
        width: 47%;
        font-size: 23px;
    }

    /* advantages */

    .icon-wrap {
        height: 100px;
    }

    .white-section__txt {
        display: none;
    }

    .white-section__card {
        width: 150px;
    }

    .white-section__zagol {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    /* global */

    h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 420px) {
    /* global */
    
    h3 {
        font-size: 18px;
        width: 50%;
    }

    .advantages-with-us br {
        display: none;
    }

    .white-section__zagol {
        font-size: 12px;
    }

    /* header */

    .header__content {
        margin-top: 20px;
    }
    
    .header__title h2 br {
        display: none;
    }

    .header__title h2 {
        margin-top: 7px;
    }

    .header__feedback-form {
        margin-top: 20px;
        padding: 15px;
    }

    .header__feedback-form form {
        margin-top: 17px;
    }

    .client-phone, .form-btn {
        margin-top: 8px;
    }

    /* advantages */

    .icon-wrap {
        height: 75px;
    }

    .white-section__zagol {
        font-size: 14px;
        margin-top: 35px;
    }

    .white-section:before {
        height: 7px;
        top: 62px;
    }
}