/* ---------------- CSS Reset START ---------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  overflow: hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}
q {
  &:before, &:after {
    content: '';
    content: none;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/* ------------------- Keyframes ------------------- */
@keyframes sunShine {
  50% {
    box-shadow: 0 0 35px 55px yellow;
  }
}

@keyframes car {
	30% {
    left: 45%;
    top: 60%;
	}
  70% {
    left: 47%;
    top: 80%;
  }
  100% {}
}

@keyframes policeLights {
	50% {
    background: linear-gradient(to right, #000127 50%, #ff0000 50%);
	}

  100% {
    background: linear-gradient(to right, #0c00ff 50%, #360000 50%);
  }
}

@keyframes tree1Scale {
  0% {
    opacity: 1;
  }
  100% {
    left: 10%;
    top: 100%;
    transform: scale(5);
    opacity: 1;
	}
}

@keyframes tree2Scale {
  0% {
    opacity: 1;
  }
	100% {
    right: 10%;
    top: 100%;
    transform: scale(5);
    opacity: 1;
	}
}

@keyframes cloud1Motion {
  100% {
    left: 100%;
  }
}

@keyframes cloud2Motion {
  100% {
    left: 100%;
  }
}

/* ------------------- Error Message ------------------- */
h1 {
  display: none;
  font-size: 2.5rem;
  padding: 10% 4%;
  color: white;
  text-align: center;
}
@media screen and (max-width: 599px) {
  body {
    background: rgb(34, 34, 34);
  }
  h1 {
    display: block;
  }
  .environment {
    display: none;
  }
}
@media screen and (max-height: 850px) {
  body {
    background: rgb(34, 34, 34);
  }
  h1 {
    display: block;
  }
  .environment {
    display: none;
  }
}



/* ------------------- Background ------------------- */
.environment {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#93fffe 30%, #71c71d 30%);
  position: relative;
  overflow: hidden;
  /* ---------- Road ---------- */
  &:before {
    content: '';
    width: 45%;
    position: absolute;
    border-bottom: 70vh solid #6a6a6a;
    border-left: 17vw solid transparent;
    border-right: 17vw solid transparent;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    box-sizing: border-box;
  }
  /*------------ Sun------------ */
  &:after {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    background: yellow;
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 35px 10px yellow;
    animation: 2s linear sunShine infinite alternate;
  }
}

/* ---------------------- Car ---------------------- */
.car {
	position: absolute;
	width: 250px;
	background: white;
  border-radius: 10px;
	top: 75%;
	left: 55%;
	transform: translateX(-50%);
  padding: 15px;
  z-index: 12;
  position: relative;
  border-top: 2px solid black;
	animation: 5s linear car infinite;
  @media screen and (max-width: 1100px) {
    width: 170px;
  }
  /* Roof */
  &:before {
    content: '';
    width: 70%;
    position: absolute;
    border-bottom: 70px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 1px));
    @media screen and (max-width: 1100px) {
      border-bottom: 55px solid white;
      width: 60%;
    }
  }
  /* Police Lights */
  &:after {
    content: '';
    position: absolute;
    width: 170px;
    height: 20px;
    background: linear-gradient(to right, #000127 50%, #360000 50%);
    border-radius: 10px;
    top: -91px;
    left: 50%;
    transform: translate(-50%);
    @media screen and (max-width: 1100px) {
      width: 99px;
      top: -72px;
      height: 15px;
    }
  }
  /* State Number */
  .state-number {
    font-size: 12px;
    margin: auto;
    padding: 3px;
    text-align: center;
    background: rgb(228, 228, 228);
    border-radius: 5px;
    max-width: 60px;
    /* Wheels */
    &:before, &:after {
      content: '';
      position: absolute;
      height: 50%;
      width: 30px;
      background: black;
      border-radius: 0 0 10px 10px;
      left: 10px;
      bottom: 0;
      transform: translateY(100%);
    }
    &:after {
      left: auto;
      right: 10px;
    }
  }
  &:hover:after {
    animation: 0.3s linear policeLights infinite;
  }
}

/* ---------------------- Trees ---------------------- */
.tree {
	position: absolute;
	width: 5px;
	height: 30px;
	background: #341e18;
	left: 35%;
	top: 30%;
  transform: translateY(-100%);
  opacity: 0;
  &:before {
    content: '';
    position: absolute;
    height: 60px;
    width: 30px;
    border-radius: 50%;
    background: linear-gradient(to bottom, green 97%, transparent 97%);
    left: 50%;
    top: 0;
    transform: translate(-50%, -70%);
  }
  &.tree1 {
    animation: 1.5s linear tree1Scale infinite;
  }
  &.tree2 {
    left: auto;
    right: 35%;
    animation: 1.5s linear tree2Scale infinite 1s;
  }
}

/*----------------------- Clouds----------------------- */
.cloud {
  position: absolute;
  height: 80px;
  width: 80px;
  background: white;
  top: 10%;
  left: 0%;
  border-radius: 50%;
  box-shadow: 0 0 10px 20px white;
  z-index: 1;
  &:before, &:after {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    background: inherit;
    top: 30%;
    left: 0%;
    transform: translateX(-80%);
    border-radius: 50%;
    box-shadow: inherit;
  }
  &:after {
    height: 40px;
    width: 40px;
    top: 40%;
    left: auto;
    right: 0;
    transform: translateX(80%);
  }
  &.cloud1 {
    animation: 6s linear cloud1Motion infinite;
  }
  &.cloud2 {
    top: 5%;
    z-index: 0;
    background-color: rgb(185, 185, 185);
    box-shadow: 0 0 10px 20px rgb(185, 185, 185);
    animation: 15s linear cloud2Motion infinite;
  }
}