/*general*/
	body {
		font-family: 'Ubuntu', sans-serif;
		font-size: 15px;
		padding: 0;
		margin: 0;
		color: #fff;
		overflow-x: hidden;
	}

	h1, h2, h3, h4, h5, h6, p {
		margin: 0;
	}

	.container {
		width: 1170px;
		margin: 0 auto;
	}

	h2 {
		color: #201b2d;
		text-align: center;
		font-size: 30px;
	}

	h3 {
		margin-top: 90px;
		font-size: 19px;
		color: #201b2d;
	}

/*header*/
	.header {
		background: rgba(77,189,254,1);
		background: -moz-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
		background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(77,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
		background: -webkit-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
		background: -o-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
		background: -ms-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
		background: linear-gradient(135deg, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbdfe', endColorstr='#3790d9', GradientType=1 );
		padding-top: 62px;
		padding-bottom: 70px;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
	}

	h1 {
		font-size: 37px;
		line-height: 49px;
		margin-top: 150px;
		letter-spacing: 0.74px;
	}

	h1 span {
		font-size: 59px;
		line-height: 73px;
	}

	.img_circle {
		margin-top: 15px;
	}

	.wp_text {
		font-family: 'OpenSans', sans-serif;
		font-size: 16px;
		line-height: 27px;
		margin: 45px 0;
		width: 400px;
		letter-spacing: 0.32px;
	}

	.btn {
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		color: #2e2a1b;
		text-decoration: none;
		background: #ffd429;
		width: 222px;
		text-align: center;
		padding: 22px 0;
		display: block;
		outline: none;
		border: none;
		cursor: pointer;
		/*transition: all 0.5s linear;*/
	}

	.btn:hover {
		background: #d7b11c;
	}

/*future*/
	.future {
		padding-top: 108px;
		padding-bottom: 119px;
	}

	.ft_icons {
		margin-top: 73px;
		display: flex;
		justify-content: space-between;
	}

	.icon {
		text-align: center;
		width: 288px;
	}

	.icon_1 {
		background: url('../img/icon1.png') no-repeat center top;
	}

	.icon_2 {
		background: url('../img/icon2.png') no-repeat center top;
	}

	.icon_3 {
		background: url('../img/icon3.png') no-repeat center top;
	}

	.ft_icons p {
		line-height: 22px;
		margin-top: 16px;
		color: #201b2d;
	}

/*sc_form*/
	.sc_form {
		background: #ecf3f8;
		padding: 105px 0;
	}

	input {
		display: block;
		margin: 0 auto 15px;
		height: 48px;
		width: 343px;
		box-sizing: border-box;
		border: 1px solid #bbb;
		border-radius: 3px;
		outline: none;
		padding-left: 24px;
	}

	.form {
		margin-top: 57px;
	}

	.form button {
		margin: 0 auto;
		width: 343px;
	}

/*footer*/
	footer {
		background: #164d7a;
		padding: 63px 0;
		text-align: center;
	}

	footer p {
		font-family: 'OpenSans' sans-serif;
		font-size: 14px;
	}

/*media quiries*/
	/*992px - 1200px*/
		@media screen and (max-width: 1200px) {
			.container {
				width: 970px;
			}

			.img_circle {
				width: 541px;
				height: 541px;
			}
		}

	/*768px - 992px*/
		@media screen and (max-width: 992px) {
			.container {
				width: 750px;
			}

			.wrapper {
				flex-direction: column;
			}

			.img_circle {
				margin: 15px auto;
			}
		}

	/*576px - 768px*/
		@media screen and (max-width: 768px) {
			.container {
				width: 540px;
			}

			.ft_icons {
				flex-direction: column;
			}

			.icon {
				margin: 0 auto;
				width: 100%;
			}

			.icon_2, .icon_3 {
				margin-top: 60px;
			}
		}

	/*320 - 576px*/
		@media screen and (max-width: 576px) {
			.container {
				width: 90%;
			}

			.img_circle {
				width: 241px;
				height: 241px;
				margin-top: 40px;
			}

			.wp_text {
				width: 100%;
			}

			.btn {
				width: 100%;
			}

			.form .btn {
				width: 100%;
			}

			.name, .email, .phone, .inp_text {
				width: 100%;
			}
		}