/* global */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #444;
    text-align: center;
    overflow-x: hidden;
}

h1 {
    font-weight: 900;
    line-height: 44px;
    font-size: 44px;
    color: #383334;
    padding-right: 12px;
}

h1 span {
    font-size: 34px;
    line-height: 38px;
}

h2 {
    color: #383334;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* mikocin */
.mikocin {
    background: url(../img/mikocin-bg.jpg) no-repeat;
    background-size: cover;
    padding-top: 13px;
    padding-bottom: 144px;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
}

.logo {
    margin-right: 85px;
}

.top-bar__advantage {
    display: flex;
    align-items: center;
    text-align: left;
}

.top-bar__advantage:not(:last-child) {
    margin-right: 40px;
}

.top-bar__advantage p {
    font-style: italic;
    color: #666;
    line-height: 18px;
    margin-left: 15px;
}

.mikocin__content {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    position: relative;
    align-items: flex-start;
}

.mikocin__content > img {
    position: absolute;
    top: -125px;
    left: -280px;
}

.orange-price, .green-price {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 7px 8px;
    border-radius: 8px;
    font-size: 34px;
    font-weight: 900;
    color: #fff;
}

.orange-price {
    top: 348px;
    left: 230px;
    background: #ff6b00;
}

.green-price {
    top: 473px;
    left: 329px;
    background: #a8ca3f;
}

.mikocin__description {
    text-align: left;
    margin-right: 33px;
}

.orange {
    position: relative;
    z-index: 1;
}

.orange:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    background: #ff6b00;
    height: 5px;
}

.green {
    position: relative;
    z-index: 1;
}

.green:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    background: #a7c93d;
    height: 5px;
}

.mikocin__description ul {
    margin-top: 43px;
}

.mikocin__description li {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    position: relative;
}

.mikocin__description li:first-child:before {
    content: '';
    position: absolute;
    height: 30px;
    width: 9px;
    bottom: -34px;
    left: 18px;
    background: url(../img/desc-arrows.png) no-repeat;
}

.mikocin__description li:last-child:before {
    content: '';
    position: absolute;
    height: 39px;
    width: 9px;
    top: -34px;
    left: 18px;
    background: url(../img/desc-arrows.png) no-repeat;
    background-position: bottom;
}

.mikocin__round {
    background: #a7c93d;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    box-shadow: 0 0 0 7px #e8edc9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mikocin__description span {
    font-weight: 500;
    color: #000;
}

.mikocin__round p {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.mikocin__round + p {
    margin-left: 25px;
    font-size: 20px;
    line-height: 24px;
}

.mikocin__round + p .orange:after, .mikocin__round + p .green:after {
    height: 3px;
    bottom: 0;
}

.mikocin__form {
    border: 7px solid #a8ca3f;
    padding-top: 48px;
    background: #fff;
    max-width: 270px;
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
}

.mikocin__delivery {
    position: absolute;
    width: 145px;
    height: 35px;
    background: #f1f7fd;
    top: -7px;
    left: 58px;
    border-left: 7px solid #a8ca3f;
    border-right: 7px solid #a8ca3f;
    border-bottom: 7px solid #a8ca3f;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 10px 10px;
}

.form__title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #000;
    padding: 0 31px;
}

.form__title span {
    font-weight: 500;
    color: #ff6b00;
    line-height: 22px;
}

.form__price {
    margin-top: 17px;
    display: flex;
    padding: 0 20px;
    text-align: center;
    justify-content: space-between;
    position: relative;
}

.form__price:after {
    position: absolute;
    content: '';
    height: 232px;
    width: 50px;
    right: -35px;
    top: 51px;
    background: url(../img/form-arrow.png) no-repeat;
}

.form__old-price > p {
    font-size: 14px;
    color: #666;
}

.old__price {
    display: flex;
    align-items: center;
    margin-top: 14px;
    position: relative;
}

.old__price:before {
    position: absolute;
    content: '';
    height: 1px;
    background: #ea7845;
    width: 103%;
    top: 50%;
    left: -5px;
    transform: rotate(-15deg);
}

.old__price:after {
    position: absolute;
    content: '';
    height: 1px;
    background: #ea7845;
    width: 103%;
    top: 50%;
    left: -5px;
    transform: rotate(15deg);
}

.old__price p {
    font-size: 34px;
    color: #0b0b0b;
    font-weight: 400;
}

.form__new-price > p {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.new__price {
    margin-top: 10px;
    background: #ffbf02;
    border-radius: 5px;
    padding: 7px 10px;
    display: flex;
    font-size: 34px;
    font-weight: 900;
    color: #000;
}

.new__price p {
    margin-right: 5px;
}

.mikocin__form form {
    margin-top: 15px;
    padding: 0 20px;
}

.mikocin__form input {
    width: 100%;
    padding: 25px 20px 25px 55px;
    border-radius: 100px;
    display: block;
    background: #eef2f7;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    color: #666;
    outline: none;
    box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.04);
}

.name-wrap, .phone-wrap {
    position: relative;
}

.phone-wrap {
    margin-top: 10px;
}

.mikocin__form .name {
    position: relative;
}

.mikocin__form .name-wrap::after {
    content: '';
    position: absolute;
    background: url(../img/form-name-logo.png) no-repeat;
    height: 23px;
    width: 19px;
    top: 21px;
    left: 21px;
}

.mikocin__form .phone-wrap::after {
    content: '';
    position: absolute;
    background: url(../img/form-phone-logo.png) no-repeat;
    height: 24px;
    width: 21px;
    top: 22px;
    left: 21px;
}

.button-wrap {
    width: 100%;
    padding: 5px;
    background: #ffbe02;
    border-radius: 100px;
    box-sizing: border-box;
    margin-top: 15px;
}

.button-wrap button {
    width: 100%;
    background: transparent;
    padding: 8px 40px 6px;
    border-radius: 100px;
    border: 3px solid #ffd24e;
    font-size: 28px;
    line-height: 17px;
    color: #000;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.button-wrap button span {
    font-size: 16px;
    line-height: 17px;
}

.balance {
    padding: 0 20px;
    font-size: 19px;
    line-height: 18px;
    font-weight: 500;
    color: #333;
    margin-top: 20px;
}

.balance span {
    color: #9dbd39;
}

.form__data-sequrity {
    padding: 12px 28px;
    background: #eef2f7;
    margin-top: 15px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

/* fungus */
.fungus {
    padding: 30px 0;
}

.fungus__title {
    margin-top: 15px;
}

.fungus__title p {
    color: #2b2828;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 44px;
}

.fungus__dangersides {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    text-align: left;
}

.fugnus__item {
    max-width: 31%;
}

.fugnus__danger-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fugnus__danger-content p {
    font-size: 22px;
    color: #000;
    line-height: 26px;
    font-weight: 500;
    margin-left: 20px;
}

.fugnus__danger-description {
    font-size: 18px;
    line-height: 28px;
    margin-top: 51px;
    position: relative;
}

.fugnus__danger-description::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 50px;
    height: 3px;
    background: #becbd8;
}

.fungus__statistic {
    margin-top: 74px;
    padding: 40px 20px;
    border: 3px solid #f4d3bb;
    background: #fff;
    border-radius: 5px;
    position: relative;
}

.fungus__statistic::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    background: #fff;
    height: 10px;
    width: 170px;
    margin-left: -85px;
}

.fungus__statistic::after {
    content: '';
    position: absolute;
    top: -21px;
    left: 50%;
    background: url(../img/statistic-icon.png) no-repeat;
    height: 37px;
    width: 55px;
    margin-left: -18.5px;
}

.fungus__statistic p {
    font-size: 22px;
    line-height: 28px;
}

.fungus__statistic p span {
    font-weight: 500;
    color: #000;
}

/* media queries */

@media screen and (max-width: 1400px) {
    /* mikocin */
    .container {
        width: 85%;
    }

    .mikocin__content > img {
        left: -395px;
    }

    .orange-price {
        left: 116px;
    }

    .green-price {
        left: 209px;
    }

    /* fungus */

}

@media screen and (max-width: 1200px) {
    /* mikocin */
    .mikocin__content > img {
        display: none;
    }

    .mikocin {
        padding-bottom: 30px;
    }

    .orange-price {
        display: none;
    }

    .green-price {
        display: none;
    }

    .mikocin__content {
        justify-content: space-around;
    }

    /* fungus */
    .fugnus__danger-content {
        display: block;
    }

    .fugnus__danger-description::before {
        left: 50%;
        margin-left: -25px;
    }

    .fugnus__item {
        text-align: center;
        max-width: 25%;
    }

    .fugnus__item br {
        display: none;
    }

    .fungus__dangersides {
        align-items: flex-start;
    }
}

@media screen and (max-width: 1128px) {
    /* mikocin */
    .container {
        width: 90%;
    }

    .logo {
        margin-right: 40px;
    }

    .top-bar__advantage:not(:last-child) {
        margin-right: 20px;
    }
}

@media screen and (max-width: 992px) {
    /* mikocin */
    .container {
        width: 85%;
    }

    .top-bar__advantage {
        display: none;
    }

    .top-bar {
        justify-content: flex-start;
    }

    .mikocin__content {
        justify-content: space-between;
    }

    .mikocin__delivery {
        display: none;
    }

    .mikocin__form {
        padding-top: 28px;
    }
}

@media screen and (max-width: 768px) {
    /* mikocin */
    .mikocin__content {
        display: block;
    }

    .mikocin__description {
        margin: 0;
    }

    h1 {
        text-align: center;
        padding: 0;
    }

    h1 br {
        display: none;
    }

    .mikocin__form {
        max-width: 100%;
    }

    .form__price, .form__data-sequrity {
        justify-content: space-around;
    }

    .button-wrap button span {
        display: none;
    }

    .button-wrap button {
        padding: 14px 40px;
    }

    /* fungus */
    .fungus__dangersides {
        display: block;
    }

    .fugnus__item {
        max-width: 100%;
        margin-top: 50px;
    }
}

@media screen and (max-width: 400px) {
    .mikocin__description ul {
        display: none;
    }

    .mikocin__form {
        margin-top: 40px;
    }

    .form__price:after {
        display: none;
    }
}