/*css reset start*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css reset stop*/

.bg {
	position: relative;
	height: 630px;
	width: 100%;
	background: linear-gradient(#93fffe 30%, #71c71d 30%);
}

.bg:before {
	content: '';
	width: 100px;
	position: absolute;
	border-bottom: 441px solid #6a6a6a;
	border-left: 400px solid transparent;
	border-right: 400px solid transparent;
	left: 50%;
	top: 30%;
	margin-left: -450px;
}

.bg:after {
	content: '';
	position: absolute;
	width: 150px;
	height: 150px;
	background: radial-gradient(yellow 20%, transparent 70%);
}



/*car*/

.car {
	position: absolute;
	width: 250px;
	height: 50px;
	background: #a0530e;
	top: 500px;
	left: 660px;
	border-radius: 10px;
	-webkit-animation: 5s linear car infinite alternate 2.5s;
	-moz-animation: 5s linear car infinite alternate 2.5s;
	animation: 5s linear car infinite alternate 2.5s;
}

@-webkit-keyframes car {
	0% {

	}

	50% {
	position: absolute;
	width: 250px;
	height: 50px;
	background: #a0530e;
	top: 500px;
	left: 460px;
	border-radius: 10px;
	}

	100% {

	}
}

@-moz-keyframes car {
	0% {

	}

	50% {
	position: absolute;
	width: 250px;
	height: 50px;
	background: #a0530e;
	top: 500px;
	left: 460px;
	border-radius: 10px;
	}

	100% {

	}
}

@keyframes car {
	0% {

	}

	50% {
	position: absolute;
	width: 250px;
	height: 50px;
	background: #a0530e;
	top: 500px;
	left: 460px;
	border-radius: 10px;
	}

	100% {

	}
}

.car:before {
	content: '';
	width: 130px;
	position: absolute;
	border-bottom: 70px solid #e0710e;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	top: -70px;
	left: 10px;
}

.car:after {
	content: '';
	position: absolute;
	width: 170px;
	height: 20px;
	background: linear-gradient(to right, #000127 50%, #360000 50%);
	border-radius: 10px;
	top: -90px;
	left: 40px;
	-webkit-animation: 0.3s linear migalki infinite 2.5s;
	-moz-animation: 0.3s linear migalki infinite 2.5s;
	animation: 0.3s linear migalki infinite 2.5s;
}

@-webkit-keyframes migalki {
	0% {

	}

	50% {
	content: '';
	position: absolute;
	width: 170px;
	height: 20px;
	background: linear-gradient(to right, #000127 50%, #ff0000 50%);
	border-radius: 10px;
	top: -90px;
	left: 40px;
	}

	100% {
	content: '';
	position: absolute;
	width: 170px;
	height: 20px;
	background: linear-gradient(to right, #0c00ff 50%, #360000 50%);
	border-radius: 10px;
	top: -90px;
	left: 40px;
	}
}

@-moz-keyframes migalki {
	0% {

	}

	50% {
	content: '';
	position: absolute;
	width: 170px;
	height: 20px;
	background: linear-gradient(to right, #000127 50%, #ff0000 50%);
	border-radius: 10px;
	top: -90px;
	left: 40px;
	}

	100% {
	content: '';
	position: absolute;
	width: 170px;
	height: 20px;
	background: linear-gradient(to right, #0c00ff 50%, #360000 50%);
	border-radius: 10px;
	top: -90px;
	left: 40px;
	}
}

@keyframes migalki {
	0% {

	}

	50% {
	content: '';
	position: absolute;
	width: 170px;
	height: 20px;
	background: linear-gradient(to right, #000127 50%, #ff0000 50%);
	border-radius: 10px;
	top: -90px;
	left: 40px;
	}

	100% {
	content: '';
	position: absolute;
	width: 170px;
	height: 20px;
	background: linear-gradient(to right, #0c00ff 50%, #360000 50%);
	border-radius: 10px;
	top: -90px;
	left: 40px;
	}
}

.gn {
	position: absolute;
	width: 70px;
	height: 25px;
	background: white;
	border-radius: 5px;
	left: 50%;
	margin-left: -40px;
	top: 50%;
	margin-top: -10px;
	font-size: 13px;
	text-align: center;
}

.gn:before {
	content: '';
	position: absolute;
	height: 35px;
	width: 30px;
	background: black;
	border-radius: 0 0 10px 10px;
	left: -70px;
	top: 35px;
}

.gn:after {
	content: '';
	position: absolute;
	height: 35px;
	width: 30px;
	background: black;
	border-radius: 0 0 10px 10px;
	left: 115px;
	top: 35px;
}

/*правые деревья*/

.tree {
	position: absolute;
	width: 5px;
	height: 30px;
	background: #341e18;
	left: 740px;
	top: 160px;
	-webkit-animation: 1.5s linear stolb_right infinite;
	-moz-animation: 1.5s linear stolb_right infinite;
	animation: 1.5s linear stolb_right infinite;
}

.tree:before {
	content: '';
	position: absolute;
	height: 60px;
	width: 30px;
	border-radius: 50%;
	background: linear-gradient(to bottom, green 97%, transparent 97%);
	left: -12.6px;
	top: -40px;
	-webkit-animation: 1.5s linear top_right infinite;
	-moz-animation: 1.5s linear top_right infinite;
	animation: 1.5s linear top_right infinite;
}

@-webkit-keyframes stolb_right {
	0% {

	}

	50% {

	}

	100% {
	position: absolute;
	width: 20px;
	height: 120px;
	background: #341e18;
	left: 1150px;
	top: 510px;
	}
}

@-moz-keyframes stolb_right {
	0% {

	}

	50% {

	}

	100% {
	position: absolute;
	width: 20px;
	height: 120px;
	background: #341e18;
	left: 1150px;
	top: 510px;
	}
}

@keyframes stolb_right {
	0% {

	}

	50% {

	}

	100% {
	position: absolute;
	width: 20px;
	height: 120px;
	background: #341e18;
	left: 1150px;
	top: 510px;
	}
}

@-webkit-keyframes top_right {
	0% {

	}

	50% {

	}

	100% {
	content: '';
	position: absolute;
	height: 240px;
	width: 120px;
	border-radius: 50%;
	background: linear-gradient(to bottom, green 97%, transparent 97%);
	left: -48px;
	top: -160px;
	}
}

@-moz-keyframes top_right {
	0% {

	}

	50% {

	}

	100% {
	content: '';
	position: absolute;
	height: 240px;
	width: 120px;
	border-radius: 50%;
	background: linear-gradient(to bottom, green 97%, transparent 97%);
	left: -48px;
	top: -160px;
	}
}

@keyframes top_right {
	0% {

	}

	50% {

	}

	100% {
	content: '';
	position: absolute;
	height: 240px;
	width: 120px;
	border-radius: 50%;
	background: linear-gradient(to bottom, green 97%, transparent 97%);
	left: -48px;
	top: -160px;
	}
}

/*левые деревья*/

.tree_2 {
	position: absolute;
	width: 5px;
	height: 30px;
	background: #341e18;
	left: 620px;
	top: 160px;
	-webkit-animation: 1.5s linear stolb_left infinite;
	-moz-animation: 1.5s linear stolb_left infinite;
	animation: 1.5s linear stolb_left infinite;
}

.tree_2:before {
	content: '';
	position: absolute;
	height: 60px;
	width: 30px;
	border-radius: 50%;
	background: linear-gradient(to bottom, green 97%, transparent 97%);
	left: -12.6px;
	top: -40px;
	-webkit-animation: 1.5s linear top_left infinite;
	-moz-animation: 1.5s linear top_left infinite;
	animation: 1.5s linear top_left infinite;

}

@-webkit-keyframes stolb_left {
	0% {

	}

	50% {

	}

	100% {
	position: absolute;
	width: 20px;
	height: 120px;
	background: #341e18;
	left: 190px;
	top: 510px;
	}
}

@-moz-keyframes stolb_left {
	0% {

	}

	50% {

	}

	100% {
	position: absolute;
	width: 20px;
	height: 120px;
	background: #341e18;
	left: 190px;
	top: 510px;
	}
}

@keyframes stolb_left {
	0% {

	}

	50% {

	}

	100% {
	position: absolute;
	width: 20px;
	height: 120px;
	background: #341e18;
	left: 190px;
	top: 510px;
	}
}

@-webkit-keyframes top_left {
	0% {

	}

	50% {

	}

	100% {
	content: '';
	position: absolute;
	height: 240px;
	width: 120px;
	border-radius: 50%;
	background: linear-gradient(to bottom, green 97%, transparent 97%);
	left: -48px;
	top: -160px;
	}
}

@-moz-keyframes top_left {
	0% {

	}

	50% {

	}

	100% {
	content: '';
	position: absolute;
	height: 240px;
	width: 120px;
	border-radius: 50%;
	background: linear-gradient(to bottom, green 97%, transparent 97%);
	left: -48px;
	top: -160px;
	}
}

@keyframes top_left {
	0% {

	}

	50% {

	}

	100% {
	content: '';
	position: absolute;
	height: 240px;
	width: 120px;
	border-radius: 50%;
	background: linear-gradient(to bottom, green 97%, transparent 97%);
	left: -48px;
	top: -160px;
	}
}