/* ========================================== Reset CSS ========================================== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ------------------------ HTML5 Display-Role Reset For Older Browsers ------------------------ */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------ General Formatting ------------------------------------ */
/* ======================================== Variables ======================================== */
/* ------------------------------- Fonts ------------------------------- */
/* ------------------------------- Colors ------------------------------- */
/* ------------------------- Screen Breakpoints ------------------------- */
/* ========================================= !Mixins ========================================= */
/* ======================================== !Keyframes ======================================== */
@-webkit-keyframes ring {
  0% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
  100% {
    -webkit-transform: rotate(5deg) translateX(1px);
            transform: rotate(5deg) translateX(1px);
  }
}
@keyframes ring {
  0% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
  100% {
    -webkit-transform: rotate(5deg) translateX(1px);
            transform: rotate(5deg) translateX(1px);
  }
}

@-webkit-keyframes email {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes email {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes arrowLight {
  0% {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
  }
  50% {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
  }
}

@keyframes arrowLight {
  0% {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
  }
  50% {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
  }
}

@-webkit-keyframes arrowSlide {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrowSlide {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* ********************************************** Styles ********************************************** */
/* ==================================== !General ==================================== */
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: "Open Sans", sans-serif;
}

header, section, footer {
  padding: 60px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  header, section, footer {
    padding: 50px 0;
  }
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
}

/* ------------------------------ !Wrapper Formatting ------------------------------ */
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 60px;
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding: 0 40px;
  }
}

@media screen and (max-width: 479px) {
  .wrapper {
    padding: 0 15px;
  }
}

button {
  background: transparent;
  border: none;
  padding: 0;
}

/* ------------------------------------ !Titles ------------------------------------ */
.title-wrapper h3 {
  font-size: 35px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  padding-bottom: 10px;
  color: #000;
}

.title-wrapper h3:after {
  position: absolute;
  content: '';
  width: 100%;
  max-width: 60px;
  height: 2px;
  background: #5100ca;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* ------------------------------------ !Header ------------------------------------ */
header {
  height: 100vh;
  min-height: 440px;
  background: url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 70%;
}

header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@media screen and (max-width: 479px) {
  header .header-wrapper {
    padding: 0 30px;
  }
}

header .header-wrapper .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-wrapper .navigation .header-logo {
  max-width: 225px;
}

@media screen and (max-width: 479px) {
  header .header-wrapper .navigation .header-logo {
    max-width: 170px;
  }
}

header .header-wrapper .navigation .header-logo img {
  width: 100%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header .header-wrapper .navigation .header-logo img:hover {
  -webkit-filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.7));
          filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.7));
}

header .header-wrapper .navigation .menu .desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 45px;
          column-gap: 45px;
}

@media screen and (max-width: 1039px) {
  header .header-wrapper .navigation .menu .desktop-nav {
    display: none;
  }
}

header .header-wrapper .navigation .menu .desktop-nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 45px;
          column-gap: 45px;
}

header .header-wrapper .navigation .menu .desktop-nav > ul > li a {
  color: #fff;
}

header .header-wrapper .navigation .menu .desktop-nav > ul > li > a {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

header .header-wrapper .navigation .menu .desktop-nav > ul > li > a:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2.5px;
  background: #5100ca;
  bottom: -5px;
  left: 0;
  scale: 0;
  pointer-events: none;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

header .header-wrapper .navigation .menu .desktop-nav > ul > li > a:hover:after, header .header-wrapper .navigation .menu .desktop-nav > ul > li > a:focus:after, header .header-wrapper .navigation .menu .desktop-nav > ul > li > a:active:after {
  scale: 1;
}

@media screen and (min-width: 1039px) {
  header .header-wrapper .navigation .menu .mobile-nav {
    display: none;
  }
}

header .header-wrapper .navigation .menu .mobile-nav .burger-menu {
  height: 35px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  header .header-wrapper .navigation .menu .mobile-nav .burger-menu {
    height: 30px;
    width: 40px;
  }
}

header .header-wrapper .navigation .menu .mobile-nav .burger-menu:before, header .header-wrapper .navigation .menu .mobile-nav .burger-menu:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  display: block;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header .header-wrapper .navigation .menu .mobile-nav .burger-menu span {
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header .header-wrapper .navigation .menu .mobile-nav .burger-menu:hover:before, header .header-wrapper .navigation .menu .mobile-nav .burger-menu:hover:after {
  -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
          transform: translateX(-5px);
}

header .header-wrapper .navigation .menu .mobile-nav .burger-menu:hover span {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list {
  position: fixed;
  overflow: auto;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  max-width: 625px;
  background: #160038;
  text-align: center;
  padding: 120px 30px;
  opacity: 0;
  -webkit-box-shadow: 0 0px 20px #000;
          box-shadow: 0 0px 20px #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 479px) {
  header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list {
    padding: 37px 30px;
  }
}

header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list.visible {
  right: 0;
  opacity: 1;
}

header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list .mobile-menu-close {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (max-width: 479px) {
  header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list .mobile-menu-close {
    right: 30px;
  }
}

header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list .mobile-menu-close:before, header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list .mobile-menu-close:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  top: 50%;
}

header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list .mobile-menu-close:before {
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list .mobile-menu-close:after {
  right: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list .mobile-menu-close:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list .mobile-nav-logo {
  max-width: 225px;
  margin: 0 auto;
}

@media screen and (max-width: 479px) {
  header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list .mobile-nav-logo {
    max-width: 170px;
    margin: 0;
  }
}

header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list .mobile-nav-logo img {
  width: 100%;
}

header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  margin-top: 100px;
}

header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list > ul > li a {
  color: #fff;
}

header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list > ul > li a:hover, header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list > ul > li a:focus, header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list > ul > li a:active {
  color: #5100ca;
}

header .header-wrapper .navigation .menu .mobile-nav .mobile-nav-list > ul > li > a {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

header .header-wrapper .header-content {
  text-align: center;
}

header .header-wrapper .header-content h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 60px;
}

@media screen and (max-width: 479px) {
  header .header-wrapper .header-content h1 {
    font-size: 32px;
    line-height: 45px;
  }
}

header .header-wrapper .header-content h2 {
  color: #fff;
  font-size: 23px;
  font-weight: 300;
  margin-top: 25px;
}

@media screen and (max-width: 479px) {
  header .header-wrapper .header-content h2 {
    font-size: 20px;
  }
}

header .header-wrapper .arrow-down {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 35px;
  color: #fff;
  -webkit-animation: arrowLight 2s infinite;
          animation: arrowLight 2s infinite;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header .header-wrapper .arrow-down i {
  font-family: "FontAwesome";
}

header .header-wrapper .arrow-down:hover {
  -webkit-animation: arrowSlide .3s infinite;
          animation: arrowSlide .3s infinite;
  color: #5100ca;
}
