/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
/* reset styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* variables */
/* templates */
header .header__offer .header__form-wrap, .subscribe .subscribe__form-wrap {
  position: relative;
  z-index: 999;
  margin: 50px auto 0;
  padding: 20px;
  width: 753px;
  background: rgba(0, 0, 0, 0.5);
}

header .header__offer .header__form-wrap form, .subscribe .subscribe__form-wrap form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__offer .header__form-wrap form input, .subscribe .subscribe__form-wrap form input {
  height: 100%;
  padding: 25px 23px;
  width: 70%;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-size: 16px;
  color: #333;
}

header .header__offer .header__form-wrap form input::-webkit-input-placeholder, .subscribe .subscribe__form-wrap form input::-webkit-input-placeholder {
  color: #bdbdbd;
}

header .header__offer .header__form-wrap form input:-ms-input-placeholder, .subscribe .subscribe__form-wrap form input:-ms-input-placeholder {
  color: #bdbdbd;
}

header .header__offer .header__form-wrap form input::-ms-input-placeholder, .subscribe .subscribe__form-wrap form input::-ms-input-placeholder {
  color: #bdbdbd;
}

header .header__offer .header__form-wrap form input::placeholder, .subscribe .subscribe__form-wrap form input::placeholder {
  color: #bdbdbd;
}

header .header__offer .header__form-wrap form button, .subscribe .subscribe__form-wrap form button {
  border: none;
  width: 30%;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  background: #f26522;
  cursor: pointer;
}

header .header__offer .header__form-wrap form button:hover, .subscribe .subscribe__form-wrap form button:hover {
  background: #fc7232;
}

.features .features__cards, .steps .container .steps__cards {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features .features__cards .features__card, .steps .container .steps__cards .steps__card {
  padding: 50px 10px;
  width: 370px;
  -webkit-box-shadow: 0 0 24px rgba(64, 199, 255, 0.3);
          box-shadow: 0 0 24px rgba(64, 199, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
}

.questions .container .questions__requests, .questions .container .questions__responses-hc, .questions .container .questions__responses-other {
  width: 385px;
  color: #fff;
  text-align: left;
  line-height: 23px;
}

.questions .container .questions__responses-hc .questions__response-hc, .questions .container .questions__responses-other .questions__response-other {
  background: #f26522;
  padding: 20px 15px 15px 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions .container .questions__responses-hc .questions__response-hc:not(:first-child), .questions .container .questions__responses-other .questions__response-other:not(:first-child) {
  margin-top: 1px;
}

.questions .container .questions__responses-hc .questions__response-hc img, .questions .container .questions__responses-other .questions__response-other img {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 15px;
}

/* general */
body {
  color: #898989;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body .container {
  max-width: 1170px;
  margin: 0 auto;
}

body .container h2 {
  color: #333;
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  position: relative;
}

body .container h2:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 280px;
  bottom: -25px;
  left: -140px;
  margin-left: 50%;
  background: #cacaca;
}

body .container h2:after {
  position: absolute;
  content: '';
  height: 7px;
  width: 100px;
  background: #f26522;
  bottom: -28px;
  left: -50px;
  margin-left: 50%;
}

body .container h3 {
  color: #f26522;
  font-size: 23px;
  font-weight: bold;
  line-height: 26px;
  margin-top: 30px;
}

/* header */
header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 20px;
  position: relative;
}

header .header__nav .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__nav .header__list li:not(:first-child) {
  margin-left: 50px;
}

header .header__nav .header__list li a {
  color: #333;
  font-size: 25px;
  text-decoration: none;
}

header .header__nav .header__list li a:hover {
  color: #f26522;
}

header .header__nav .header__list li a:focus {
  color: #f26522;
}

header .header__nav .header__burger-menu {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  width: 33px;
  height: 25px;
  font-size: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

header .header__nav .header__burger-menu:focus {
  outline: none;
}

header .header__nav .header__burger-menu span {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -2px;
  background: #f26522;
  width: 100%;
  height: 3px;
  -webkit-transition-duration: 0.3s, 0.3s;
       -o-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
}

header .header__nav .header__burger-menu span:before, header .header__nav .header__burger-menu span:after {
  position: absolute;
  content: '';
  left: 0;
  position: absolute;
  background: #f26522;
  width: 100%;
  height: 3px;
  -webkit-transition-duration: 0.3s, 0.3s;
       -o-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
}

header .header__nav .header__burger-menu span:before {
  top: -9px;
}

header .header__nav .header__burger-menu span:after {
  bottom: -9px;
}

header .header__nav .header__burger-is-active span {
  background: none;
}

header .header__nav .header__burger-is-active span:before {
  top: 0;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

header .header__nav .header__burger-is-active span:after {
  bottom: 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

header .header__offer {
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 260px;
  padding-bottom: 320px;
  background-color: #f26522;
  position: relative;
}

header .header__offer h1 {
  font-size: 50px;
}

header .header__offer p {
  font-size: 20px;
  margin-top: 28px;
  line-height: 28px;
}

header .header__offer .header__house {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

header .header__offer .header__hill {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

/* features */
.features {
  padding: 100px 0;
  background: #fff;
  text-align: center;
}

.features .features__cards .features__card .features__logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 6px rgba(64, 199, 255, 0.3);
          box-shadow: 0 0 6px rgba(64, 199, 255, 0.3);
}

.features .features__cards .features__card .features__logo-wrap img {
  height: 50%;
}

.features .features__cards .features__card p {
  line-height: 25px;
  margin-top: 15px;
}

/* steps */
.steps {
  padding: 100px 0 355px;
  text-align: center;
  background: #f6f6f6;
  position: relative;
}

.steps .container h2:before {
  background: #fff;
}

.steps .container .steps__cards {
  position: relative;
  z-index: 999;
}

.steps .container .steps__cards .steps__card p:first-child {
  margin: 0 auto;
  font-size: 36px;
  color: #f26522;
  font-weight: bold;
}

.steps .container .steps__cards .steps__card p:last-child {
  line-height: 25px;
  margin-top: 15px;
}

.steps .container .steps__movie {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -455px;
  bottom: -150px;
  z-index: 9999;
}

.steps .steps__house {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.steps .steps__hand {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

/* questions */
.questions {
  padding: 220px 0 200px;
}

.questions .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questions .container .questions__requests .questions__title {
  background: #f26522;
  padding: 20px 15px 15px;
}

.questions .container .questions__requests .questions__request {
  background: #f26522;
  padding: 20px 15px 15px;
  margin-top: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions .container .questions__responses-hc {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.questions .container .questions__responses-hc .questions__title {
  background: #f26522;
  padding: 20px 15px 15px;
  font-size: 22px;
  font-weight: bold;
}

.questions .container .questions__responses-hc .questions__title h3 {
  color: #fff;
  margin: 0;
}

.questions .container .questions__responses-hc .questions__response-hc {
  position: relative;
}

.questions .container .questions__responses-other .questions__title {
  background: #f26522;
  padding: 20px 15px 15px;
  font-size: 22px;
  font-weight: bold;
}

.questions .container .questions__responses-other .questions__title h3 {
  color: #fff;
  margin: 0;
}

.questions .container .questions__responses-other .questions__response-other {
  position: relative;
}

/* subscribe */
.subscribe {
  padding: 140px 0 170px;
  text-align: center;
  background: #f26522;
  position: relative;
}

.subscribe p {
  color: #f2f2f2;
  font-size: 48px;
  font-weight: bold;
  line-height: 34px;
}

.subscribe p span {
  font-size: 24px;
}

.subscribe .subscribe__form-wrap {
  margin-top: 35px;
}

.subscribe .subscribe__form-wrap form {
  position: relative;
}

.subscribe .subscribe__form-wrap form input {
  padding-left: 67px;
}

.subscribe .subscribe__form-wrap form img {
  position: absolute;
  width: 32px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  left: 22px;
}

.subscribe .subscribe__house {
  position: absolute;
  bottom: -10px;
  right: 0;
  z-index: 0;
}

/* forms */
.forms {
  padding: 100px 0;
  position: relative;
}

.forms .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 999;
}

.forms .container .forms__sell {
  -webkit-box-shadow: 0 0 24px rgba(64, 199, 255, 0.3);
          box-shadow: 0 0 24px rgba(64, 199, 255, 0.3);
  width: 470px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 473px;
  padding: 60px 30px 100px;
}

.forms .container .forms__sell h3 {
  font-size: 36px;
  font-weight: 500;
  color: #f26522;
  margin: 0;
}

.forms .container .forms__sell p {
  font-size: 20px;
  color: 707070;
  line-height: 25px;
  margin-top: 20px;
}

.forms .container .forms__sell form {
  margin-top: 50px;
}

.forms .container .forms__sell form input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #eff2f2;
  padding: 22px;
  width: 100%;
  font-size: 16px;
}

.forms .container .forms__sell form input::-webkit-input-placeholder {
  color: #bdbdbd;
}

.forms .container .forms__sell form input:-ms-input-placeholder {
  color: #bdbdbd;
}

.forms .container .forms__sell form input::-ms-input-placeholder {
  color: #bdbdbd;
}

.forms .container .forms__sell form input::placeholder {
  color: #bdbdbd;
}

.forms .container .forms__sell form button {
  margin-top: 33px;
  background: #f26522;
  color: #fff;
  width: 100%;
  font-size: 18px;
  padding: 20px 0;
  font-weight: bold;
  text-align: center;
  border: none;
  cursor: pointer;
}

.forms .container .forms__sell form button:hover {
  background: #fc7232;
}

.forms .container .forms__touch {
  -webkit-box-shadow: 0 0 24px rgba(64, 199, 255, 0.3);
          box-shadow: 0 0 24px rgba(64, 199, 255, 0.3);
  width: 670px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 39px 30px 30px;
  background: #fff;
}

.forms .container .forms__touch h3 {
  margin: 0;
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.forms .container .forms__touch form {
  margin-top: 28px;
  text-align: right;
}

.forms .container .forms__touch form input {
  border: 1px solid #cff0ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  padding: 18px;
  font-size: 16px;
  width: 100%;
}

.forms .container .forms__touch form input::-webkit-input-placeholder {
  color: #bdbdbd;
}

.forms .container .forms__touch form input:-ms-input-placeholder {
  color: #bdbdbd;
}

.forms .container .forms__touch form input::-ms-input-placeholder {
  color: #bdbdbd;
}

.forms .container .forms__touch form input::placeholder {
  color: #bdbdbd;
}

.forms .container .forms__touch form input:not(:first-child) {
  margin-top: 15px;
}

.forms .container .forms__touch form .forms__msg {
  min-height: 210px;
  border: 1px solid #cff0ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  padding: 18px;
  display: block;
  width: 100%;
  margin-top: 19px;
  resize: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.forms .container .forms__touch form .forms__msg::-webkit-input-placeholder {
  color: #bdbdbd;
}

.forms .container .forms__touch form .forms__msg:-ms-input-placeholder {
  color: #bdbdbd;
}

.forms .container .forms__touch form .forms__msg::-ms-input-placeholder {
  color: #bdbdbd;
}

.forms .container .forms__touch form .forms__msg::placeholder {
  color: #bdbdbd;
}

.forms .container .forms__touch form button {
  margin-top: 30px;
  background: #f26522;
  color: #fff;
  padding: 18px 57px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: none;
  cursor: pointer;
}

.forms .container .forms__touch form button:hover {
  background: #fc7232;
}

.forms .forms__house {
  position: absolute;
  left: 0;
  bottom: -10px;
  z-index: 0;
}

/* footer */
footer {
  padding: 40px 0;
  background: #1e1e1e;
  text-align: center;
}

footer p {
  color: #bdbdbd;
  line-height: 30px;
}

/* media queries */
@media screen and (max-width: 1439px) {
  /* header */
  header .header__offer .header__house {
    width: 50%;
  }
  header .header__offer .header__hill {
    width: 67%;
  }
  /* subscribe */
  .subscribe .subscribe__house {
    width: 30%;
  }
}

@media screen and (max-width: 1199px) {
  /* general */
  .container {
    width: 97%;
  }
  /* forms */
  .forms .container {
    display: block;
  }
  .forms .container .forms__sell {
    margin: 0 auto;
  }
  .forms .container .forms__touch {
    margin: 70px auto 0;
  }
}

@media screen and (max-width: 1144px) {
  /* templates */
  .features .features__cards, .steps .container .steps__cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .features .features__cards .features__card:last-child, .steps .container .steps__cards .steps__card:last-child {
    margin-top: 50px;
  }
  /* steps */
  .steps .steps__hand {
    width: 50%;
  }
}

@media screen and (max-width: 991px) {
  /* header */
  header .header__nav .header__logo img {
    width: 280px;
  }
  header .header__nav .header__list li:not(:first-child) {
    margin-left: 35px;
  }
  /* steps */
  .steps {
    padding: 100px 0 500px;
  }
  .steps .container .steps__movie {
    width: 100%;
    left: 0;
    margin-left: 0;
    bottom: 0;
  }
  /* questions */
  .questions {
    padding: 100px 0;
  }
  /* forms */
  .forms .forms__house {
    width: 100%;
  }
}

@media screen and (max-width: 874px) {
  /* templates */
  .features .features__cards, .steps .container .steps__cards {
    display: block;
  }
  .features .features__cards .features__card, .steps .container .steps__cards .steps__card {
    margin: 50px auto 0;
  }
}

@media screen and (max-width: 900px) {
  /* templates */
  header .header__offer .header__form-wrap, .subscribe .subscribe__form-wrap {
    width: auto;
  }
  /* header */
  header .header__nav .header__logo img {
    width: 230px;
  }
  header .header__nav .header__menu .header__list li a {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  /* templates */
  header .header__offer .header__form-wrap, .subscribe .subscribe__form-wrap {
    background: rgba(0, 0, 0, 0);
  }
  header .header__offer .header__form-wrap form, .subscribe .subscribe__form-wrap form {
    display: block;
  }
  header .header__offer .header__form-wrap form input, .subscribe .subscribe__form-wrap form input {
    width: 100%;
  }
  header .header__offer .header__form-wrap form button, .subscribe .subscribe__form-wrap form button {
    margin-top: 25px;
    width: 100%;
    border: 1px solid #fff;
    padding: 25px;
  }
  /* header */
  header .header__nav {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .header__nav .header__menu {
    display: none;
    text-align: center;
  }
  header .header__nav .header__menu .header__list {
    margin-bottom: 25px;
  }
  header .header__nav .header__menu .header__list li {
    margin-left: 0;
    margin-top: 20px;
    font-size: 18px;
  }
  header .header__nav .header__burger-menu {
    display: block;
    top: 30px;
  }
  header .header__offer {
    padding-top: 200px;
    padding-bottom: 250px;
  }
  header .header__offer h1 {
    font-size: 40px;
  }
  /* steps */
  .steps {
    padding: 100px 0 900px;
  }
  .steps .container .steps__movie {
    bottom: 400px;
  }
  .steps .steps__house {
    width: 60%;
  }
  /* questions */
  .questions .container .questions__requests, .questions .container .questions__responses-hc, .questions .container .questions__responses-other {
    width: auto;
  }
  /* subscribe */
  .subscribe {
    padding-top: 70px;
  }
  .subscribe .subscribe__form-wrap form img {
    top: 18%;
  }
  .subscribe .subscribe__house {
    width: 60%;
  }
  /* forms */
  .forms .container .forms__sell {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }
  .forms .container .forms__sell h3 {
    line-height: 50px;
  }
  .forms .container .forms__touch {
    width: 100%;
  }
}

@media screen and (max-width: 639px) {
  /* steps */
  .steps {
    padding: 100px 0 700px;
  }
  .steps .container .steps__movie {
    bottom: 250px;
  }
}

@media screen and (max-width: 480px) {
  /* templates */
  .features .features__cards .features__card, .steps .container .steps__cards .steps__card {
    width: 90%;
  }
  .questions .container .questions__responses-hc .questions__response-hc, .questions .container .questions__responses-other .questions__response-other {
    padding: 0 15px 0 63px;
  }
  /* header */
  header .header__offer {
    padding-top: 100px;
    padding-bottom: 150px;
  }
  /* features */
  .features {
    padding: 70px 0;
  }
  /* steps */
  .steps {
    padding: 100px 0 500px;
  }
  .steps .container .steps__movie {
    bottom: 100px;
  }
  /* questions */
  .questions {
    padding: 70px 0;
  }
  .questions .container {
    overflow-x: auto;
  }
  .questions .container .questions__requests .questions__request {
    padding: 0 15px;
  }
  /* forms */
  .forms {
    padding: 70px 0 130px;
  }
}
