@media screen and (max-width: 1439px) {
    /* header */
    header {
        .header__offer {
            .header__house {
                width: 50%;
            }

            .header__hill {
                width: 67%;
            }
        }
    }

    /* subscribe */
    .subscribe {
        .subscribe__house {
            width: 30%;
        }
    }
}

@media screen and (max-width: 1199px) {
    /* general */
    .container {
        width: 97%;
    }

    /* forms */
    .forms {
        .container {
            display: block;

            .forms__sell {
                margin: 0 auto;
            }

            .forms__touch {
                margin: 70px auto 0;
            }
        }
    }
}

@media screen and (max-width: 1144px) {
    /* templates */
    %tplcards {
        justify-content: space-around;
    }

    %tplcard {
        &:last-child {
            margin-top: 50px;
        }
    }

    /* steps */
    .steps {
        .steps__hand {
            width: 50%;
        }
    }
}

@media screen and (max-width: 991px) {
    /* header */
    header {
        .header__nav {

            .header__logo {
                img {
                    width: 280px;
                }
            }

            .header__list {
                li {
                    &:not(:first-child) {
                        margin-left: 35px;
                    }
                }
            }
        }
    }

    /* steps */
    .steps {
        padding: 100px 0 500px;

        .container {
            .steps__movie {
                width: 100%;
                left: 0;
                margin-left: 0;
                // display: block;
                bottom: 0;
            }
        }
    }

    /* questions */
    .questions {
        padding: 100px 0;
    }

    /* forms */
    .forms {
        .forms__house {
            width: 100%;
        }
    }
}

@media screen and (max-width: 874px) {
    /* templates */
    %tplcards {
        display: block;
    }

    %tplcard {
        margin: 50px auto 0;
    }
}

@media screen and (max-width: 900px) {
    /* templates */
    %tplform-wrap {
        width: auto;
    }
    
    /* header */
    header {
        .header__nav {
            .header__logo {
                img {
                    width: 230px;
                }
            }

            .header__menu {
                .header__list {
                    li {
                        a {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    /* templates */
    %tplform-wrap {
        background: rgba(0, 0, 0, 0);

        form {
            display: block;

            input {
                width: 100%;
            }

            button {
                margin-top: 25px;
                width: 100%;
                border: 1px solid #fff;
                padding: 25px;
            }
        }
    }

    /* header */
    header {
        .header__nav {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
            
            .header__menu {
                display: none;
                text-align: center;

                .header__list {
                    margin-bottom: 25px;

                    li {
                        margin-left: 0;
                        margin-top: 20px;
                        font-size: 18px;
                    }
                }
            }
    
            .header__burger-menu {
                display: block;
                top: 30px;
            }
        }

        .header__offer {
            padding-top: 200px;
            padding-bottom: 250px;

            h1 {
                font-size: 40px;
            }
        }
    }

    /* steps */
    .steps {
        padding: 100px 0 900px;

        .container {
            .steps__movie {
                bottom: 400px;
            }
        }

        .steps__house {
            width: 60%;
        }
    }

    /* questions */
    %tplquestions-block {
        width: auto;
    }

    /* subscribe */
    .subscribe {
        padding-top: 70px;

        .subscribe__form-wrap {
            form {
                img {
                    top: 18%;
                }
            }
        }

        .subscribe__house {
            width: 60%;
        }
    }

    /* forms */
    .forms {
        .container {
            .forms__sell {
                width: 100%;
                height: auto;
                padding-bottom: 30px;

                h3 {
                    line-height: 50px;
                }
            }

            .forms__touch {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 639px) {
    /* steps */
    .steps {
        padding: 100px 0 700px;

        .container {
            .steps__movie {
                bottom: 250px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    /* templates */
    %tplcard {
        width: 90%;
    }

    %tplquestion-block {
        padding: 0 15px 0 63px;
    }

    /* header */
    header {
        .header__offer {
            padding-top: 100px;
            padding-bottom: 150px;
        }
    }

    /* features */
    .features {
        padding: 70px 0;
    }

    /* steps */
    .steps {
        padding: 100px 0 500px;

        .container {
            .steps__movie {
                bottom: 100px;
            }
        }
    }
    
    /* questions */
    .questions {
        padding: 70px 0;
        .container {
            overflow-x: auto;

            .questions__requests {
                .questions__request {
                    padding: 0 15px;
                }
            }
        }
    }

    /* forms */
    .forms {
        padding: 70px 0 130px;
    }
}