@media screen and (max-width: 1439px) {
    /* header */
    header {
        .header__offer {
            .header__house {
                width: 50%;
            }

            .header__hill {
                width: 67%;
            }
        }
    }

    /* features */
}

@media screen and (max-width: 1199px) {
    /* general */
    .container {
        width: 97%;
    }
}

@media screen and (max-width: 1144px) {
    /* templates */
    %tplcards {
        justify-content: space-around;
    }

    %tplcard {
        &:last-child {
            margin-top: 50px;
        }
    }
}

@media screen and (max-width: 991px) {
    /* header */
    header {
        .header__nav {

            .header__logo {
                img {
                    width: 280px;
                }
            }

            .header__list {
                li {
                    &:not(:first-child) {
                        margin-left: 35px;
                    }
                }
            }
        }
    }

    /* features */
}

@media screen and (max-width: 874px) {
    /* templates */
    %tplcards {
        display: block;
    }

    %tplcard {
        margin: 50px auto 0;
    }
}

@media screen and (max-width: 900px) {
    /* templates */
    %tplform-wrap {
        width: auto;
    }
    
    /* header */
    header {
        .header__nav {
            .header__logo {
                img {
                    width: 230px;
                }
            }

            .header__menu {
                .header__list {
                    li {
                        a {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }

    /* features */
}

@media screen and (max-width: 767px) {
    /* templates */
    %tplform-wrap {
        background: rgba(0, 0, 0, 0);

        form {
            display: block;

            input {
                width: 100%;
            }

            button {
                margin-top: 25px;
                width: 100%;
                border: 1px solid #fff;
                padding: 25px;
            }
        }
    }

    /* header */
    header {
        .header__nav {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
            
            .header__menu {
                display: none;
                text-align: center;

                .header__list {
                    margin-bottom: 25px;

                    li {
                        margin-left: 0;
                        margin-top: 20px;
                        font-size: 18px;
                    }
                }
            }
    
            .header__burger-menu {
                display: block;
                top: 30px;
            }
        }

        .header__offer {
            padding-top: 200px;
            padding-bottom: 250px;

            h1 {
                font-size: 40px;
            }
        }
    }

    /* features */
}

@media screen and (max-width: 480px) {
    /* templates */
    %tplcard {
        width: 90%;
        // padding: 30px 15px;
    }

    /* header */
    header {
        .header__offer {
            padding-top: 100px;
            padding-bottom: 150px;
        }
    }

    /* features */
    .features {
        padding: 70px 0;

        
    }
}