/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* reset styles */
@import "_reset";

/* variables */
$main-color: #f26522;
$title: #333;
$main-text: #898989;
$placeholder: #bdbdbd;
$radius-shadow: rgba(64, 199, 255, 0.3);

/* templates */
%tplform-wrap {
    position: relative;
    z-index: 999;
    margin: 50px auto 0;
    padding: 20px;
    width: 753px;
    background: rgba(0, 0, 0, 0.5);

    form {
        display: flex;

        input {
            height: 100%;
            padding: 25px 23px;
            width: 70%;
            outline: none;
            box-sizing: border-box;
            border: none;
            font-size: 16px;
            color: $title;

            &::placeholder {
                color: $placeholder;
            }
        }

        button {
            border: none;
            width: 30%;
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            background: $main-color;
            cursor: pointer;
        
            &:hover {
                background: #fc7232;
            }
        }
    }
}

%tplcards {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

%tplcard {
    padding: 50px 10px;
    width: 370px;
    box-shadow: 0 0 24px $radius-shadow;
    box-sizing: border-box;
    background: #fff;
}

%tplquestions-block {
    width: 385px;
    color: #fff;
    text-align: left;
    line-height: 23px;
}

%tplquestion-block {
    background: $main-color;
    padding: 20px 15px 15px 63px;
    display: flex;
    align-items: center;

    &:not(:first-child) {
        margin-top: 1px;
    }
}

%tplrequest-img {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 15px;
}

/* general */
body {
    color: $main-text;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;

    .container {
        max-width: 1170px;
        margin: 0 auto;

        h2 {
            color: $title;
            font-size: 40px;
            font-weight: bold;
            display: inline-block;
            position: relative;

            &:before {
                position: absolute;
                content: '';
                height: 1px;
                width: 280px;
                bottom: -25px;
                left: -140px;
                margin-left: 50%;
                background: #cacaca;
            }

            &:after {
                position: absolute;
                content: '';
                height: 7px;
                width: 100px;
                background: $main-color;
                bottom: -28px;
                left: -50px;
                margin-left: 50%;
            }
        }

        h3 {
            color: $main-color;
            font-size: 23px;
            font-weight: bold;
            line-height: 26px;
            margin-top: 30px;
        }
    }
}

/* header */
header {
    .header__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 26px;
        padding-bottom: 20px;
        position: relative;

        .header__list {
            display: flex;

            li {
                &:not(:first-child) {
                    margin-left: 50px;
                }

                a {
                    color: $title;
                    font-size: 25px;
                    text-decoration: none;

                    &:hover {
                        color: $main-color;
                    }

                    &:focus {
                        color: $main-color;
                    }
                }
            }
        }

        .header__burger-menu {
            position: absolute;
            top: 40px;
            right: 0;
            display: none;
            width: 33px;
            height: 25px;
            font-size: 0;
            cursor: pointer;
            background: rgba(0, 0, 0, 0);
            border: none;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
    
            &:focus{
                outline: none;
            }
            
            span {
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -2px;
                background: $main-color;
                width: 100%;
                height: 3px;
                transition-duration: 0.3s, 0.3s;
    
                &:before, &:after {
                    position: absolute;
                    content: '';
                    left: 0;
                    position: absolute;
                    background: $main-color;
                    width: 100%;
                    height: 3px;
                    transition-duration: 0.3s, 0.3s;
                }
    
                &:before {
                    top: -9px;
                }
    
                &:after {
                    bottom: -9px;
                }
            }
        }

        .header__burger-is-active {
            span {
                background: none;
    
                &:before {
                    top: 0;
                    transform: rotate(-135deg);
                }
    
                &:after {
                    bottom: 0;
                    transform: rotate(135deg);
                }
            }
        }
    }

    .header__offer {
        font-weight: bold;
        color: #fff;
        text-align: center;
        padding-top: 260px;
        padding-bottom: 320px;
        background-color: $main-color;
        position: relative;

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 20px;
            margin-top: 28px;
            line-height: 28px;
        }

        .header__form-wrap {
            @extend %tplform-wrap;
        }

        .header__house {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;
        }

        .header__hill {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 0;
        }
    }
}

/* features */
.features {
    padding: 100px 0;
    background: #fff;
    text-align: center;

    .features__cards {
        @extend %tplcards;

        .features__card {
            @extend %tplcard;

            .features__logo-wrap {
                display: flex;
                margin: 0 auto;
                align-items: center;
                justify-content: space-around;
                width: 125px;
                height: 125px;
                border-radius: 50%;
                background: #fff;
                box-shadow: 0 0 6px $radius-shadow;

                img {
                    height: 50%;
                }
            }

            p {
                line-height: 25px;
                margin-top: 15px;
            }
        }
    }
}

/* steps */
.steps {
    padding: 100px 0 355px;
    text-align: center;
    background: #f6f6f6;
    position: relative;

    .container {
        h2 {
            &:before {
                background: #fff;
            }
        }
    
        .steps__cards {
            @extend %tplcards;
            position: relative;
            z-index: 999;
    
            .steps__card {
                @extend %tplcard;
    
                p {
                    &:first-child {
                        margin: 0 auto;
                        font-size: 36px;
                        color: $main-color;
                        font-weight: bold;
                    }
    
                    &:last-child {
                        line-height: 25px;
                    margin-top: 15px;
                    }
                }
            }
        }
        .steps__movie {
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -455px;
            bottom: -150px;
            z-index: 9999;
        }
    }

    .steps__house {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
    }

    .steps__hand {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
    }
}

/* questions */
.questions {
    padding: 220px 0 200px;

    .container {
        display: flex;
        justify-content: space-between;

        .questions__requests {
            @extend %tplquestions-block;

            .questions__title {
                background: $main-color;
                padding: 20px 15px 15px;
            }

            .questions__request {
                background: $main-color;
                padding: 20px 15px 15px;
                margin-top: 1px;
                display: flex;
                align-items: center;
            }
        }

        .questions__responses-hc {
            @extend %tplquestions-block;
            border-right: 1px solid #fff;
            border-left: 1px solid #fff;
            box-sizing: border-box;

            .questions__title {
                background: $main-color;
                padding: 20px 15px 15px;
                font-size: 22px;
                font-weight: bold;

                h3 {
                    color: #fff;
                    margin: 0;
                }
            }

            .questions__response-hc {
                @extend %tplquestion-block;
                position: relative;

                img {
                    @extend %tplrequest-img;
                }
            }
        }

        .questions__responses-other {
            @extend %tplquestions-block;

            .questions__title {
                background: $main-color;
                padding: 20px 15px 15px;
                font-size: 22px;
                font-weight: bold;

                h3 {
                    color: #fff;
                    margin: 0;
                }
            }

            .questions__response-other {
                @extend %tplquestion-block;
                position: relative;

                img {
                    @extend %tplrequest-img;
                }
            }
        }
    }
}

/* subscribe */
.subscribe {
    padding: 140px 0 170px;
    text-align: center;
    background: $main-color;
    position: relative;

    p {
        color: #f2f2f2;
        font-size: 48px;
        font-weight: bold;
        line-height: 34px;

        span {
            font-size: 24px;
        }
    }

    .subscribe__form-wrap {
        @extend %tplform-wrap;
        margin-top: 35px;

        form {
            position: relative;

            input {
                padding-left: 67px;
            }

            img {
                position: absolute;
                width: 32px;
                height: 30px;
                top: 50%;
                margin-top: -15px;
                left: 22px;
            }
        }
    }

    .subscribe__house {
        position: absolute;
        bottom: -10px;
        right: 0;
        z-index: 0;
    }
}

/* forms */
.forms {
    padding: 100px 0;
    position: relative;

    .container {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 999;

        .forms__sell {
            box-shadow: 0 0 24px $radius-shadow;
            width: 470px;
            box-sizing: border-box;
            height: 473px;
            padding: 60px 30px 100px;

            h3 {
                font-size: 36px;
                font-weight: 500;
                color: $main-color;
                margin: 0;
            }

            p {
                font-size: 20px;
                color: 707070;
                line-height: 25px;
                margin-top: 20px
            }

            form {
                margin-top: 50px;

                input {
                    outline: none;
                    box-sizing: border-box;
                    border: 2px solid #eff2f2;
                    padding: 22px;
                    width: 100%;
                    font-size: 16px;

                    &::placeholder {
                        color: $placeholder;
                    }
                }

                button {
                    margin-top: 33px;
                    background: $main-color;
                    color: #fff;
                    width: 100%;
                    font-size: 18px;
                    padding: 20px 0;
                    font-weight: bold;
                    text-align: center;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background: #fc7232;
                    }
                }
            }
        }

        .forms__touch {
            box-shadow: 0 0 24px $radius-shadow;
            width: 670px;
            box-sizing: border-box;
            padding: 39px 30px 30px;
            background: #fff;

            h3 {
                margin: 0;
                font-size: 30px;
                color: #333;
                font-weight: 500;
            }
            
            form {
                margin-top: 28px;
                text-align: right;

                input {
                    border: 1px solid #cff0ff;
                    box-sizing: border-box;
                    outline: none;
                    padding: 18px;
                    font-size: 16px;
                    width: 100%;

                    &::placeholder {
                        color: $placeholder;
                    }

                    &:not(:first-child) {
                        margin-top: 15px;
                    }
                }

                .forms__msg {
                    min-height: 210px;
                    border: 1px solid #cff0ff;
                    box-sizing: border-box;
                    outline: none;
                    padding: 18px;
                    display: block;
                    width: 100%;
                    margin-top: 19px;
                    resize: none;
                    font-family: Roboto, sans-serif;
                    font-size: 16px;

                    &::placeholder {
                        color: $placeholder;
                    }
                }

                button {
                    margin-top: 30px;
                    background: $main-color;
                    color: #fff;
                    padding: 18px 57px;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background: #fc7232;
                    }
                }
            }
        }
    }

    .forms__house {
        position: absolute;;
        left: 0;
        bottom: -10px;
        z-index: 0;
    }
}

/* footer */
footer {
    padding: 40px 0;
    background: #1e1e1e;
    text-align: center;

    p {
        color: $placeholder;
        line-height: 30px;
    }
}

/* media queries */
@import "_responsive";