body {
  text-align: center;
  margin: 0;
  .map {
    margin-top: 50px;
    width: 320px;
    height: 320px;
    box-shadow: 0px 0px 29px -7px rgba(0, 0, 0, 0.38);
    transition: all 0.5s linear;
    cursor: pointer;
    &:hover {
      box-shadow: none;
    }
  }
  .text-content {
    width: 320px;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
  }
}