/* reset css */
@import "_reset";

/* variables */
$mainColor: #3B49C5;

/* general */
body {
    font-family: Roboto, Open Sans, sans-serif;
    color: #000;
    font-style: normal;
    text-align: left;
    line-height: 23px;

    button {
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }

    p {
        font-weight: normal;
        font-size: 15px;

        span, a {
            font-weight: bold;
        }

        a {
            color: $mainColor;
            text-decoration: none;
        }
    }
    
    h1 {
        font-weight: 900;
        font-size: 40px;
        line-height: 47px;
        color: #fff;
    }
    
    h2 {
        font-weight: 900;
        font-size: 30px;
        line-height: 35px;
    }
    
    h3 {
        font-weight: 900;
        font-size: 20px;
    }

    .title {
        text-align: center;

        p {
            margin-top: 25px;
        }
    }
    
    .container {
        max-width: 1170px;
        margin: 0 auto;
    }
    
    section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/* header */
.header {
    padding-top: 22px;
    box-sizing: border-box;
    background: url(../img/header-bg.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    color: #fff;

    .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .header__burger-menu {
            position: absolute;
            top: 0;
            right: 0;
            display: none;
            width: 33px;
            height: 25px;
            font-size: 0;
            cursor: pointer;
            background: rgba(0, 0, 0, 0);
            border: none;
            box-sizing: border-box;;

            &:focus{
                outline: none;
            }
            
            span {
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -2px;
                background: #fff;
                width: 100%;
                height: 3px;
                transition-duration: 0.3s, 0.3s;

                &:before, &:after {
                    position: absolute;
                    content: '';
                    left: 0;
                    position: absolute;
                    background: #fff;
                    width: 100%;
                    height: 3px;
                    transition-duration: 0.3s, 0.3s;
                }

                &:before {
                    top: -9px;
                }

                &:after {
                    bottom: -9px;
                }
            }
        }

        .burger-is-active {
            span {
                background: none;

                &:before {
                    top: 0;
                    transform: rotate(-135deg);
                }

                &:after {
                    bottom: 0;
                    transform: rotate(135deg);
                }
            }
        }

        .header__list {
            display: flex;

            li {
                &:not(:first-child) {
                    margin-left: 23px;
                }

                .header__menu-link {
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 18px;
                    color: #ffffff;
                    text-decoration: none;
                    position: relative;
                    -webkit-tap-highlight-color: transparent;

                    &:after {
                        position: absolute;
                        content: '';
                        display: block;
                        background: #fff;
                        height: 1px;
                        width: 0;
                        transition: width 0.3s linear;
                        bottom: -3px;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    &:focus {
                        &:after {
                            width: 100%;
                        }
                    }
                }

                &:hover a {
                    &:after {
                        width: 100%;
                    }
                }
            }
        }

        .header__contacts {
            .header__phone-number, .header__email-addres {
                font-size: 13px;
                color: #fff;
                text-decoration: none;
            }

            .header__phone,  .header__email{
                display: flex;
                align-items: center;

                .header__phone-logo, .header__email-logo {
                    margin-right: 7px;
                }
            }
        }
    }

    .header__nav-separator {
        display: none;
        margin-top: 25px;
        width: 100%;
        height: 1px;
        background: #fff;
    }

    .header__offer {
        margin-top: 186px;

        .header__description {
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;
            margin-top: 17px;
        }

        .header__cta {
            outline: none;
            margin-top: 27px;
            background: $mainColor;
            border: none;
            border-radius: 4px;
            padding: 13.5px 21px;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: box-shadow 0.3s linear;

            &:hover, &:focus {
                box-shadow: 0px 0px 10px #3B49C4;
            }
        }
    }
}

/* profit */
.profit {
    padding-bottom: 0;

    .profit__slider {
        margin-top: 60px;

        .profit__slider-item {
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            border-radius: 4px;

            p {
                position: absolute;
                top: 50%;
                width: 100%;
                margin-top: -18%;
                font-weight: 900;
                font-size: 25px;
                line-height: 169.69%;
                color: #FFFFFF;
            }
        }

        /* custom owl styles */
        .owl-item {
            display: flex;
            justify-content: center;
        }
    }
}

/* about */
.about {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(46, 117, 255, 0.275) 100%);

    .about__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 60px;

        p {
            padding-right: 13%;
        }
    }
}

/* media queries */

/* Desktops and laptops */
@media screen and (max-width: 1199px) {
    body {
        .container {
            width: 97%;
        }

        .about {
            .about__content {
                p {
                    padding-right: 8%;
                }

                img {
                    width: 45%;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    body {
        .header {
            .header__nav {
                .header__list {
                    li {
                        .header__menu-link {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    
        .about {
            .about__content {
                p {
                    padding-right: 5%;
                }
            }
        }
    }
}

@media screen and (max-width: 1040px) {
    /* header */
    body {

        h2 {
            line-height: 26.95px;
        }

        section {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .header {
            .header__nav {
                .header__list {
                    li {
                        &:not(:first-child) {
                            margin-left: 15px;
                        }
                    }
                }
            }
        }

        .profit {
            .profit__slider {
                margin-top: 35px;
            }
        }
    }
}

/* Tablets */
@media screen and (max-width: 991px) {
    body {
        .header {
            .header__nav {
                .header__list {
                    li {
                        .header__menu-link {
                            font-size: 15px;
                        }
                    }
                }
    
                .header__contacts {
                    display: none;
                }
            }
        }
    
        .profit {
            .profit__slider {
        
                .profit__slider-item {
                    p {
                        font-size: 23px;
                    }
                }
            }
        }
    
        .about {
            .about__content {
                display: block;
                margin-top: 35px;

                p {
                    margin: 0 auto;
                    padding-right: 0;
                    width: 90%;
                }
    
                img {
                    width: 100%;
                    margin-top: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: 899px) {
    /* profit */
    .profit {
        .profit__slider {
            margin-top: 60px;
    
            .profit__slider-item {
                p {
                    font-size: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: 870px) {
    // /* header */
    .header {
        height: auto;
        
        .header__nav {
            display: block;

            .header__list {
                margin-top: 40px;

                li {
                    .header__menu-link {
                        font-size: 18px;
                    }
                }
            }
            
            .header__burger-menu {
                display: block;
            }

            .header__menu {
                display: none;
                width: 100%;
                text-align: center;

                .header__list {
                    li {
                        text-transform: uppercase;
    
                        &:not(:first-child) {
                            margin-left: 0;
                            margin-top: 25px;
                        }
                    }
                }
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
    body {
        .title {
            p {
                margin-top: 10px;
            }
        }
    }
    
    .header {
        padding: 22px 0 160px 0;

        .header__offer {
            margin-top: 160px;
        }
    }

    /* profit */
    .profit {
        .profit__slider {
    
            .profit__slider-item {
                p {
                    font-size: 23px;
                }
            }
        }
    }
}

@media screen and (max-width: 599px) {
    body {
        h2 {
            font-size: 23px;
        }
        
        .header {
            .header__offer {
                h1 {
                    font-size: 35px;
                    line-height: 30.47px;
                }

                .header__description {
                    font-size: 21px;
                    line-height: 21.09px;
                }
            }
        }

        .profit {
            .profit__slider {
                .profit__slider-item {
                    p {
                        font-size: 25px;
                    }
                }
            }
        }
    }
    
}

/* Portrait phones and smaller */
@media screen and (max-width: 479px) {
    /* header */
    body {
        .header {
            .header__offer {
                h1 {
                    font-size: 28px;
                }

                .header__cta {
                    width: 100%;
                    padding: 17px 21px;
                }

                .header__description {
                    font-size: 20px;
                    margin-top: 20px;
                }

                .header__cta {
                    margin-top: 30px;
                }
            }
        }

        .about {
            .about__content {
                p {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 387px) {
    body {
        h1 {
            font-size: 27px;
        }

        .header {
            .header__offer {
                .header__description {
                    font-size: 19px;
                    margin-top: 25px;
                }

                .header__cta {
                    margin-top: 28px;
                }
            }
        }
    }
}

@media screen and (max-width: 374px) {
    body {
        .header {
            .header__offer {
                .header__cta {
                    width: 100%;
                }

                .header__description {
                    font-size: 17px;
                }
            }
        }
    }
}

/* Iphone 5 */
@media screen and (max-width: 320px) {
    body {
        .header {
            .header__offer {
                h1 {
                    font-size: 22px;
                }

                .header__description {
                    font-size: 17px;
                }
            }
        }
    }
}