body.no-scroll {
  overflow: hidden;
}

body .overlay {
  display: none;
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}

body .popup-projects {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 97%;
  max-width: 1170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  background: #fff;
  border-radius: 4px;
  padding: 30px 15px;
}

body .popup-projects .close-popup {
  position: absolute;
  height: 15px;
  width: 15px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

body .popup-projects .close-popup:hover:before {
  background: #7C0808;
}

body .popup-projects .close-popup:hover:after {
  background: #7C0808;
}

body .popup-projects .close-popup:before {
  content: '';
  position: absolute;
  top: 6px;
  left: -3px;
  height: 3px;
  width: 20px;
  background: #E60A0A;
  border-radius: 1px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

body .popup-projects .close-popup:after {
  content: '';
  position: absolute;
  top: 6px;
  left: -3px;
  height: 3px;
  width: 20px;
  background: #E60A0A;
  border-radius: 1px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

body .popup-projects .title p {
  margin-top: 5px;
}

body .popup-projects .popup-projects__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
  max-height: 400px;
  overflow: auto;
}

body .popup-projects .popup-projects__gallery img {
  height: 200px;
}
