li {
  /* a  */
}

li:not(:first-child) {
  margin-left: 23px;
}

li .header__menu-link {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

li .header__menu-link:after {
  position: absolute;
  content: '';
  display: block;
  background: #fff;
  height: 1px;
  width: 0;
  -webkit-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  transition: width 0.3s linear;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

li .header__menu-link:focus:after {
  width: 100%;
}

li:hover a:after {
  width: 100%;
}
